:host {
  user-select: none;
}

#ur {
  height: 75vh;
  overflow: auto;
}

table {
  font-size: 0.7rem;
}

td {
  padding: 0.2rem 0.3rem;
}

.remove-employee-zone {
  background-color: #fff5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
